# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.
[exclude_object]
###################################################################
##  MCU PATHS
###################################################################
[mcu EBBCan]
canbus_uuid: 2494d7b6d738
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32f446xx_20002C000C51303432383339-if00
# CAN bus is also available on this board
[include input_shaper.cfg]
[include print_area_bed_mesh.cfg]
[include canbus-ebb42.cfg]
[include adaptive_mesh.cfg]
[include bl_touch.cfg]
[include z_tilt.cfg]
[include bed.cfg]
[include mainsail.cfg]
[include steppers.cfg]
[include hemeraV6.cfg]
[include LEDs.cfg]
[include heated_chamber.cfg]
[include gcode.cfg]
[include fans.cfg]
[include brakes.cfg]
[include shell_command.cfg]

[virtual_sdcard]
path: /home/jakeb/printer_data/gcodes

#[virtual_sdcard]
#path: "my new location"
#on_error_gcode: CANCEL_PRINT

###################################################################
##  PRINTER
###################################################################

[printer]
kinematics: corexy
max_velocity: 150
max_accel: 1000
max_accel_to_decel: 1000
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5


[adxl345]
cs_pin: EBBCan: PB12
spi_speed: 5000000
#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 5000000.
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
#   See the "common SPI settings" section for a description of the
#   above parameters.
axes_map: x,y,z
#   The accelerometer axis for each of the printer's X, Y, and Z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y, x, z" to swap the X and Y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x, z, -y"). The default is "x, y, z".
rate: 3200
#   Output data rate for ADXL345. ADXL345 supports the following data
#   rates: 3200, 1600, 800, 400, 200, 100, 50, and 25. Note that it is
#   not recommended to change this rate from the default 3200, and
#   rates below 800 will considerably affect the quality of resonance
#   measurements.


# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.083333, -0.013333, 0.076667, 0.026667, -0.033333
#*# 	-0.143333, -0.033333, 0.046667, 0.006667, -0.083333
#*# 	-0.143333, -0.043333, 0.001667, 0.021667, -0.123333
#*# 	-0.133333, -0.033333, 0.006667, -0.138333, -0.238333
#*# 	-0.268333, -0.103333, 0.026667, -0.003333, -0.128333
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 36.26
#*# max_x = 263.86
#*# min_y = 73.99
#*# max_y = 261.43
#*#
#*# [bltouch]
#*# z_offset = 2.715
#*#
#*# [bed_mesh PEI SHEET 1]
#*# version = 1
#*# points =
#*# 	-0.169766, -0.009766, 0.082234, 0.090234, 0.010234
#*# 	-0.249766, -0.119766, -0.009766, 0.054234, 0.042234
#*# 	-0.391766, -0.209766, -0.019766, 0.054234, 0.076234
#*# 	-0.459766, -0.231766, 0.000234, 0.120234, 0.162234
#*# 	-0.559766, -0.273766, -0.049766, 0.090234, 0.168234
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 250.0
#*# min_y = 10.0
#*# max_y = 250.0
#*#
#*# [heater_chamber]
#*# control = pid
#*# pid_kp = 50.407
#*# pid_ki = 0.603
#*# pid_kd = 1052.872
#*#
#*# [bed_mesh 1]
#*# version = 1
#*# points =
#*# 	-0.864000, -0.422000, -0.096000, 0.162000, 0.350000
#*# 	-0.940000, -0.534000, -0.116000, 0.168000, 0.362000
#*# 	-0.962000, -0.550000, -0.130000, 0.156000, 0.382000
#*# 	-0.976000, -0.538000, -0.094000, 0.170000, 0.480000
#*# 	-0.990000, -0.542000, -0.124000, 0.224000, 0.452000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 250.0
#*# min_y = 10.0
#*# max_y = 250.0
